<div id="<%= dom_id(comment) %>" class="border rounded-4 p-3 mb-3">
  <p class="mb-1 fw-bold">
    <%= comment.user.name %>
  </p>

  <div class="mb-2">
    <%= simple_format(comment.body) %>
  </div>

  <% if logged_in? && comment.user == current_user %>
    <%= link_to "削除",
          post_comment_path(post, comment),
          data: {
            turbo_method: :delete,
            turbo_confirm: "コメントを削除しますか？"
          },
          class: "btn btn-outline-danger btn-sm rounded-pill" %>
  <% end %>
</div>
