<%= render "shared/page_card", title: "愛犬情報編集" do %>

  <%= render "form", dog: @dog, submit_text: "更新" %>

  <div class="text-center mt-4">
    <%= link_to "マイページに戻る", mypage_path, class: "btn btn-outline-secondary w-100 rounded-pill" %>
  </div>


<% end %>

