<%= render "shared/page_card", title: "プロフィール編集" do %>
  <%= render "users/form", user: @user, submit_text: "更新する" %>

  <div class="text-center mt-4">
    <%= link_to "マイページに戻る", mypage_path, class: "btn btn-outline-secondary w-100 rounded-pill" %>
  </div>
<% end %>
