  <h1>あそBOW!について</h1>

  <%= image_tag "ピオ外.jpeg" %>

  <p>
    あそBOW!は、犬と一緒に遊べる場所の情報や口コミを共有し、
    飼い主同士が交流できるレビュー・コミュニティサイトです。
  </p>

  <h2>こんな悩みを解決します</h2>

  <ul>
    <li>犬と行ける公園やドッグランを探したい</li>
    <li>実際に行った人の口コミを知りたい</li>
    <li>引越し先や旅行先で犬友を見つけたい</li>
  </ul>

  <h2>できること</h2>

  <ul>
    <li>犬と遊べる場所を投稿・レビュー</li>
    <li>地図から遊び場を探す</li>
    <li>コミュニティに参加して犬友と交流</li>
  </ul>