<div class="about-page">
  <section class="about-hero text-center">
    <div class="container">
      <h1 class="about-title">あそBOW!について</h1>

      <%= image_tag "ピオ外.jpeg", class: "about-main-image" %>

      <p class="about-lead">
        あそBOW!は、愛犬と遊んだ公園やドッグランなどの「遊び場」を共有できるサービスです。<br class="d-none d-md-block">

        口コミや写真、スポット情報を参考に、新しい遊び場探しや飼い主同士の交流を楽しめます。
      </p>
    </div>
  </section>

  <section class="container about-section">
    <h2 class="section-title">
      こんな悩みを解決します
    </h2>

    <div class="row g-4">
      <div class="col-md-4">
        <div class="about-card">
          <i class="fa-solid fa-bone"></i>
          <p>愛犬と行ける公園やドッグランを探したい</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="about-card">
          <i class="fa-solid fa-bone"></i>
          <p>実際に行った人の口コミを知りたい</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="about-card">
          <i class="fa-solid fa-bone"></i>
          <p>犬友と交流し、一緒に遊べる仲間を見つけたい</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container about-section">
    <h2 class="section-title">
      できること
    </h2>

    <div class="row g-4">
      <div class="col-md-4">
        <div class="about-card">
          <i class="fa-solid fa-bone"></i>
          <p>公園・ドッグランなどの遊び場を投稿・レビュー</p>
        </div>
      </div>

  
      <div class="col-md-4">
        <div class="about-card">
          <i class="fa-solid fa-bone"></i>
          <p>地図から遊び場を探す</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="about-card">
          <i class="fa-solid fa-bone"></i>
          <p>コミュニティに参加して犬友とつながる</p>
        </div>
      </div>
    </section>  
    
    <div class="text-center mt-5 mb-5">
      <%= link_to "遊び場を探してみる", root_path, class: "btn btn-asobow rounded-pill px-5 py-2 fw-bold" %>
    </div>
  
</div>