<h3>遊び場を探す</h3>

<div id="map" 
  data-posts='<%= raw @posts.map { |post|
  {
    id: post.id,
    title: post.title,
    place_name: post.place_name,
    latitude: post.latitude,
    longitude: post.longitude,
    rating: post.rating,
    image_url: post.images.attached? ? url_for(post.images.first) : nil
  }
}.to_json %>'
  style="height: 600px;">
</div>
