<h2>愛犬との毎日をもっと楽しく</h2>

<h2>遊び場を探す、犬友とつながる</h2>

<div id="map" 
  data-posts='<%= raw @posts.to_json(only: [:id, :title, :place_name, :latitude, :longitude]) %>'
  style="height: 400px;">
</div>

<%= link_to "新しい遊び場を投稿する", new_post_path %>