<%= render "shared/page_card", title: "新規投稿", subtitle: "愛犬と遊んだ公園やドッグランなどの遊び場を共有しよう！" do %>

  <%= render "form", post: @post, submit_text: "投稿" %>

  <div class="mt-3">
    <%= link_to "一覧へ戻る", posts_path, class: "btn btn-outline-secondary w-100 rounded-pill" %>
  </div>

<% end %>
