/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 body{
  margin: 0;
  background-color: #FFFDF8;
  color: #5C4033;
 }

 .post-image{
  width: 300px;
  height: 200px;
  object-fit: contain;
 }

 .header{
  height: 100px;
  z-index: 1000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #E6DFE0;
 }

 .header-left,
 .header-right{
  width: 60px;
 }

 .header-center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
 }

 .logo{
  margin-top: 20px;
  height: 100px;
  width: auto;
  display: block;
 }

 .menu-button{
  font-size: 30px;
  background-color: none;
  border: none;
  cursor: pointer;
 }

 .hamburger-menu{
  display: none;
  position: absolute;
  top: 100%;
  left: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  z-index: 9999;
  padding: 15px;
  min-width: 180px;
}

.hamburger-menu a{
  display: block;
  padding: 8px 0;
  color: black;
  text-decoration: none;
}

.hamburger-menu.open{
  display: block;
}

.btn-asobow {
  background-color: #F4A261;
  border-color: #F4A261;
  color: white;
}

.btn-asobow:hover {
  background-color: #E98C47;
  border-color: #E98C47;
  color: white;
}

.about-hero {
  padding: 60px 20px;
}

.about-title {
  font-weight: bold;
  margin-bottom: 25px;
}

.about-main-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50px;
  margin-bottom: 25px;
}

.about-lead {
  font-size: 18px;
  line-height: 1.8;
}

.about-section {
  background-color: #F8EFE8;
  padding: 60px 30px;
  border-radius: 25px;
  margin-top: 50px;
}
.section-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 35px;
}

.about-card {
  background: white;
  border-radius: 20px;
  padding: 30px 20px;
  text-align: center;
  height: 100%;
}

.about-card i {
  font-size: 30px;
  color: #F4A261;
  margin-bottom: 15px;
}

.about-card p {
  margin: 0;
  line-height: 1.7;
}

.alert {
  border: none;
  border-radius: 1rem;
}