<%= render "shared/page_card", title: "コミュニティ作成", subtitle: "愛犬家同士が交流できるコミュニティを作成しましょう" do %>

  <%= render "form", community: @community %>

  <div class="mt-3">
    <%= link_to "一覧へ戻る",
          communities_path,
          class: "btn btn-outline-secondary w-100 rounded-pill" %>
  </div>

<% end %>
        